.heading {
  background-color: var(--bg-color);
  font-size: var(--fontsize);
  min-height: 10vh;
  position: fixed;
  z-index: 2000;
  width: 100%;
  top: 0;

  &__sheries {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 2rem;

  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 2rem;

  }

  &__nav-list {
    display: flex;

  }

  &__nav-list-item {
    margin-right: 1rem;
    list-style-type: none;
    display: inline-block;


  }

  &__nav-list-link {
    text-decoration: none;
    color: black;
  }



}