<header class="heading" appHeader>
    <nav class="heading__nav heading__nav--nder">
        <a routerLink="/orders" class="heading__sheries">SaintBarns</a>
        <ul class="nav__nav-list">
            <!-- <li class="heading__nav-list-item"><a class="heading__nav-list-link heading__nav-list-link--good" routerLink="/"></a></li> -->
            <!-- <li class="heading__nav-list-item"><a class="heading__nav-list-link heading__nav-list-link--good" routerLink="/orders/sources">sources</a></li> -->
            <li class="heading__nav-list-item"><a class="heading__nav-list-link heading__nav-list-link--good" routerLink="home">Home</a></li>
            <li class="heading__nav-list-item"><a class="heading__nav-list-link heading__nav-list-link--good" routerLink="orders/article">API</a></li>
            <li class="heading__nav-list-item"><a class="heading__nav-list-link heading__nav-list-link--good" routerLink="/orders">Static</a></li>
            
        </ul>
    </nav>
</header>