<header class="heading">
    <nav class="heading__nav heading__nav--nder">
        <a href="#" class="heading__sheries">sherries events</a>
        <ul class="nav__nav-list">

            <!-- <li class="heading__nav-list-item"><a class="heading__nav-list-link heading__nav-list-link--good" routerLink="/"></a></li> -->
            <li class="heading__nav-list-item"><a class="heading__nav-list-link heading__nav-list-link--good" routerLink="home">Home</a></li>
            <li class="heading__nav-list-item"><a class="heading__nav-list-link heading__nav-list-link--good" routerLink="/orders">Orders</a></li>
            <li class="heading__nav-list-item"><a class="heading__nav-list-link  heading__nav-list-link--good" [routerLink]="['/baking']">baking</a></li>
            <li class="heading__nav-list-item"><a class="heading__nav-list-link heading__nav-list-link--good" routerLink="/pricing">Pricing</a></li>
            <li class="heading__nav-list-item"><a class="heading__nav-list-link  heading__nav-list-link--good" routerLink="/counselling">Counselling</a></li>
            <!-- <li class="heading__nav-list-item"><a class="heading__nav-list-link  heading__nav-list-link--good" routerLink="/events">Events</a></li> -->
            <!-- <li class="heading__nav-list-item"><a class="heading__nav-list-link heading__nav-list-link--good" [routerLink]="['/catering']">Cooking classes</a></li> -->
        </ul>
    </nav>
</header>