<div class="two">
    <div class="two__input">
        <form [formGroup]="articleForm" [ngClass]="{'isInvalid': searchText}" FormControlName="search">
            <input type="text" placeholder="search..">
        </form>
        <span>{{searchText}}</span>
    </div>
    <div class="two__second">

        <div class="two__person" *ngFor="let new of articles">
            <div class="two__fourth">
                <img class="two__img" [src]="new.urlToImage" alt="">
            </div>
            <div class="two__third">
                <div class="two__all">
                    <div class="two__wonder">
                        <h3 style="color: rgb(13, 11, 112); font-weight: 700;">Author: {{new.author}}</h3>
                        <p>date: {{new.publishedAt}}</p>
                    </div>
                    <h5>Title: {{new.title}}</h5>
                    <p>Description: <br> {{new.description}}</p>
                </div>
                <a href="{{new.url}}" style="border-radius: 2px; background-color: green; padding: 1rem;
                color: white; text-decoration: none;">read more...</a>
            </div>
        </div>
    </div>
</div>