<section>

  
    <table class="table">
        <thead class="table__heading">
            <tr class="table__roll">
                <th class="table__head">id</th>
                <th class="table__head">country</th>
                <th class="table__head">headling</th>
                <th class="table__head">most read</th>
                <th class="table__head">Action</th>
            </tr>
        </thead>
        <tbody class="table__body">
           <tr>
                <td class="table__data">Amebo Friday</td>
                <td class="table__data">yahoo and its effects Artical by saint barns</td>
                <td class="table__data">the fall of the titans</td>
                <td class="table__data">elrufai and north/siuth western nigeria future aliance</td>
                <a href="#" style="margin-left: 1rem; margin-right: 1rem;" class="table__update">Upadate</a>
                <a href="#" class="table__update">Delete</a>
           </tr>
            <tr class="table__body-row">
                <td class="table__data">Amebo Friday</td>
                <td class="table__data">yahoo and its effects Artical by saint barns</td>
                <td class="table__data">the fall of the titans</td>
                <td class="table__data">elrufai and north/siuth western nigeria future aliance</td>
                <a href="#" style="margin-left: 1rem; margin-right: 1rem;" class="table__update">Upadate</a>
                <a href="#" class="table__update">Delete</a>
            </tr>
        </tbody>
    
    </table>

</section>