<section class="home">
    <div class="home__text">
        <div class="home__first">
            <h2 class="home__h1">21st Century news Broadcasting</h2>
            <h3 class="home__h2">Modern Life Style, Light Speed Applications</h3>
            <p class="home__para">We offer the most satisfying
                news application services in makurdi, a trial will convince you,
                we are located off inikpi street highlevel makurdi benue
                state. our email address is barnsdooga@gmail.com</p>
            <div class="home__link">
                <a routerLink="/orders" class="home__more">View Retrieved Api</a>
            </div>


            <div class="home__second">
                <div class="home__anchor">
                    <div class="home__reverse">
                        <a href="#" class="home__discover">Discover Now</a>
                    </div>
                    <div class="home__joy-giver">
                        <h1 class="home__joy">Top headlings aljazera etc...</h1>
                    </div>
                </div>
                <div class="home__fruit">
                    <img class="home__img" src="../../assets/apple-2.jpg" alt="apple">
                </div>
            </div>
        </div>
    </div>

    <div class="home__pictures">
        <p class="home__barns">
            barns CHANNEL website
        </p>
    </div>
</section>